body {
  font-family: "Podkova", serif;
  background: #eee;
  height: 100vh;
  width: 100vw;
}

html {
  scroll-behavior: smooth;
}

section,
main,
header,
footer {
  margin: 1.25% 3%;
  padding: 1% 3%;
  background: white;
  border-radius: 20px;
  width: 87%;
}

#jon-lugg {
  background-image: url("../img/jon-lugg.png");
  background-size: cover;
  background-position: bottom;
  background-repeat: no-repeat;
  border-radius: 20px;
  height: 200px;
  width: 200px;
  margin: 12px;
}

#bio {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  height: 90vh;
}

#bio h1 {
  text-align: center;
  font-size: 48px;
}

#bio p {
  font-size: 17px;
}

#bio #scroll {
  text-align: center;
  font-size: 28px;
  color: black;
  margin-bottom: 28px;
}

#bio #scroll span {
  font-family: "Open Sans Condensed", sans-serif;
  font-weight: 900;
  opacity: 0.2;
}

#bio-summary {
  margin-top: 30px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -ms-flex-item-align: center;
      align-self: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  display: flex;
  width: 375px;
  height: 300px;
  border-radius: 20px;
  border: 1.5px solid #eee;
  -webkit-box-shadow: 0px 0px 19px -10px rgba(0, 0, 0, 0.75);
  box-shadow: 0px 0px 19px -10px rgba(0, 0, 0, 0.75);
  -webkit-transition: 1.5s;
  transition: 1.5s;
}

#bio-summary:hover {
  -webkit-transition: 1s;
  transition: 1s;
  -webkit-transform: scale(1.08);
          transform: scale(1.08);
  -webkit-box-shadow: 0px 0px 128px -41px rgba(0, 0, 0, 0.75);
  box-shadow: 0px 0px 128px -41px rgba(0, 0, 0, 0.75);
}

#bio-summary h1 {
  margin: 0;
}

#bio-summary #wrapper {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

main h2 {
  text-align: center;
}

main p {
  text-align: center;
}

main #portfolio-all {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -ms-flex-line-pack: center;
      align-content: center;
  -webkit-box-pack: space-evenly;
      -ms-flex-pack: space-evenly;
          justify-content: space-evenly;
}

main #portfolio-all .portfolio {
  margin: 24px;
  width: 375px;
  height: 240px;
  border-radius: 20px;
  border: 1px solid #eee;
  -webkit-box-shadow: 0px 0px 19px -10px rgba(0, 0, 0, 0.75);
  box-shadow: 0px 0px 19px -10px rgba(0, 0, 0, 0.75);
  -webkit-transition: 1s;
  transition: 1s;
}

main #portfolio-all .portfolio:hover {
  -webkit-transition: 2s;
  transition: 2s;
  -webkit-transform: scale(1.08);
          transform: scale(1.08);
  -webkit-box-shadow: 0px 0px 128px -41px rgba(0, 0, 0, 0.75);
  box-shadow: 0px 0px 128px -41px rgba(0, 0, 0, 0.75);
}

main #portfolio-all .p1 {
  background-image: url("../img/tugapug.png");
  background-size: cover;
  background-position: bottom;
  background-repeat: no-repeat;
}

main #portfolio-all .p1:hover {
  border: 1px solid black;
  -webkit-transition: 1s;
  transition: 1s;
}

main #portfolio-all .p1 div {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  opacity: 0;
  height: 100%;
  width: 100%;
  margin: 0;
  background-position: center;
  border-radius: 20px;
  -webkit-transition: 1.5s;
  transition: 1.5s;
}

main #portfolio-all .p1 div p {
  padding: 0 20px;
}

main #portfolio-all .p1 div button {
  border-radius: 5px;
  background-color: white;
  -webkit-box-shadow: none;
          box-shadow: none;
  width: 75px;
  height: 35px;
  border: 1px solid black;
}

main #portfolio-all .p1 div button:focus {
  outline: none;
}

main #portfolio-all .p1 div:hover {
  -webkit-transition: 1s;
  transition: 1s;
  background-color: white;
  opacity: 1;
}

main #portfolio-all .p2 {
  background-image: url("../img/Hedira-Title-Logo.png");
  background-size: 350px;
  background-position: center;
  background-repeat: no-repeat;
}

main #portfolio-all .p2:hover {
  border: 1px solid black;
  -webkit-transition: 1s;
  transition: 1s;
}

main #portfolio-all .p2 div {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  opacity: 0;
  height: 100%;
  width: 100%;
  margin: 0;
  background-position: center;
  border-radius: 20px;
  -webkit-transition: 1.5s;
  transition: 1.5s;
}

main #portfolio-all .p2 div p {
  padding: 0 20px;
}

main #portfolio-all .p2 div button {
  border-radius: 5px;
  background-color: white;
  -webkit-box-shadow: none;
          box-shadow: none;
  width: 75px;
  height: 35px;
  border: 1px solid black;
}

main #portfolio-all .p2 div button:focus {
  outline: none;
}

main #portfolio-all .p2 div:hover {
  -webkit-transition: 1s;
  transition: 1s;
  background-color: white;
  opacity: 1;
}

main #portfolio-all .p3 {
  background-image: url("../img/todolist.PNG");
  background-size: 350px;
  background-position: center;
  background-repeat: no-repeat;
}

main #portfolio-all .p3:hover {
  border: 1px solid black;
  -webkit-transition: 1s;
  transition: 1s;
}

main #portfolio-all .p3 div {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  opacity: 0;
  height: 100%;
  width: 100%;
  margin: 0;
  background-position: center;
  border-radius: 20px;
  -webkit-transition: 1.5s;
  transition: 1.5s;
}

main #portfolio-all .p3 div p {
  padding: 0 20px;
}

main #portfolio-all .p3 div button {
  border-radius: 5px;
  background-color: white;
  -webkit-box-shadow: none;
          box-shadow: none;
  width: 75px;
  height: 35px;
  border: 1px solid black;
}

main #portfolio-all .p3 div button:focus {
  outline: none;
}

main #portfolio-all .p3 div:hover {
  -webkit-transition: 1s;
  transition: 1s;
  background-color: white;
  opacity: 1;
}

main #portfolio-all .p4 {
  background-image: url("../img/hostile aliens.PNG");
  background-size: 350px;
  background-position: center;
  background-repeat: no-repeat;
}

main #portfolio-all .p4:hover {
  border: 1px solid black;
  -webkit-transition: 1s;
  transition: 1s;
}

main #portfolio-all .p4 div {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  opacity: 0;
  height: 100%;
  width: 100%;
  margin: 0;
  background-position: center;
  border-radius: 20px;
  -webkit-transition: 1.5s;
  transition: 1.5s;
}

main #portfolio-all .p4 div p {
  padding: 0 20px;
}

main #portfolio-all .p4 div button {
  border-radius: 5px;
  background-color: white;
  -webkit-box-shadow: none;
          box-shadow: none;
  width: 75px;
  height: 35px;
  border: 1px solid black;
}

main #portfolio-all .p4 div button:focus {
  outline: none;
}

main #portfolio-all .p4 div:hover {
  -webkit-transition: 1s;
  transition: 1s;
  background-color: white;
  opacity: 1;
}

a {
  text-decoration: none;
}

/*************************************************** styling for contact links in footer**************************************************************/
footer {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

#footer-text {
  padding: 20px 10px;
}

#footer-links {
  padding: 30px 10px;
  font-size: 30px;
  color: black;
}

#footer-links > a {
  color: black;
  text-decoration: none;
}

@media only screen and (max-width: 480px) {
  #bio {
    height: 90vh;
  }
  #bio-summary {
    width: 275px;
    margin: 16px;
  }
  main #portfolio-all .p1 {
    width: 275px;
    background-size: 250px;
  }
  main #portfolio-all .p1 div p {
    font-size: 14px;
  }
  main #portfolio-all .p2 {
    width: 275px;
    background-size: 200px;
  }
  main #portfolio-all .p2 div p {
    font-size: 14px;
  }
  main #portfolio-all .p3 {
    width: 275px;
    background-size: 200px;
  }
  main #portfolio-all .p3 div p {
    font-size: 14px;
  }
  main #portfolio-all .p4 {
    width: 275px;
  }
  main #portfolio-all .p4 div p {
    font-size: 14px;
  }
  footer {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }
}
/*# sourceMappingURL=cv.css.map */